<?php 
$tfile = 'view' . DS . 'layout' . DS  . g('layout') . DS . header . '.tpl.html' ;
if( file_exists( AROOT . $tfile ) ) include( AROOT . $tfile );
else @include( CROOT . $tfile );
?>
<h3 class="am-text-center am-margin-top-xs am-margin-bottom-xs"><?=$course['course_name']?></h3>
<img src="<?=$course['image_url']?>" width="100%" height="200">
	<div data-am-widget="tabs"
       class="am-tabs am-tabs-default am-margin-0"
        >
      <ul class="am-tabs-nav am-cf">
          <li class="am-active"><a href="[data-tab-panel-0]">章节</a></li>
          <li class=""><a href="[data-tab-panel-1]">详情</a></li>
      </ul>
      <div class="am-tabs-bd">
          <div data-tab-panel-0 class="am-tab-panel am-active">
          	<ul class="am-list">
            <?php
              if($flag){
                $f = 'false';
              }else{
                $f = 'true';
              }
            	foreach ($chapter as $value) {
            		# code...
            	?>
            	<li class="am-g">
          			<a href="javascript:preview(<?=$value['chapter_index']?>,<?=$f?>);" class="am-list-item-hd "><?=$value['chapter_name']?></a>
          		</li>	
            	<?php
            	}
            ?>
            </ul>
          </div>
          <div data-tab-panel-1 class="am-tab-panel ">
            <h2 class="my-header">课程题目</h2>
            <p><?=$course['course_name']?></p>
            <h2 class="my-header">课程介绍</h2>
            <p><?=$course['info']?></p>
          </div>
      </div>
	</div>
<div class="am-margin-vertical-lg am-margin-horizontal-xl">
  <?php
    if($flag){
      ?>
      <a class="am-btn am-btn-block am-btn-lg am-btn-success" href="javascript:preview(1,false);">继续学习</a>
      <?php
    }else{
      ?>
      <a class="am-btn am-btn-block am-btn-lg am-btn-success" href="javascript:preview(1,true);">加入课程清单</a>
      <?php
    }
  ?>
</div>	
<script type="text/javascript">
	function  preview(chapter_index,flag) {
		// body...
		var pos = window.location.href.indexOf("?");
		var url = window.location.href.slice(0,pos);
		var course_id = getUrlParam("course_id");
    if(flag){
      window.location.href = url + "?c=main&a=preview&course_id="+course_id+"&chapter_index="+chapter_index+"&flag="+flag;
    }else{
      window.location.href = url + "?c=main&a=preview&course_id="+course_id+"&chapter_index="+chapter_index;
    }
	};
</script>	
