<header class="header">
	<span class="am-icon-angle-left am-icon-md" id="btn-home" onclick="userCenter()"></span>
	<h1><?=$title?></h1>
</header>
<div class="am-g">
	<div class="am-u-sm-12 am-u-md-12">
		<form class="am-form am-margin-vertical-sm" role="form" id="form">
			<div class="am-form-group">
				<label for="UserName" class="">用户名</label>
				<input type="text" class="" id="UserName" placeholder="用户名" name="UserName" required pattern="^\d{9}$" data-validation-message="请输入9位数字学号">
			</div>
			<div class="am-form-group">
				<label for="Password" class="">旧密码</label>
				<input type="password" class="" id="oldPassword" placeholder="密码" name="oldPassword" required pattern="^\w{6,12}$" data-validation-message="请输入6-12位密码，由数字和字母组成">
			</div>
			<div class="am-form-group">
				<label for="Confirm" class="">新密码密码</label>
				<input type="password" class="" id="newPassword" placeholder="新密码" name="newPassword"required pattern="^\w{6,12}$" data-validation-message="请输入6-12位密码，由数字和字母组成">
			</div>
			<div class="am-form-group">
				<button type="submit" class="am-btn am-btn-block am-btn-primary am-btn-lg" id="change">提交</button>
			</div>
		</form>
	</div>
</div>
