<?php 
$tfile = 'view' . DS . 'layout' . DS  . g('layout') . DS . header2 . '.tpl.html' ;
if( file_exists( AROOT . $tfile ) ) include( AROOT . $tfile );
else @include( CROOT . $tfile );
?>
<h3 class="am-text-center"><?=$chapter['chapter_name']?></h3>
<div id="player">
	<video id="vedio" src="<?=$preview['vedio_url']?>" width="100%" controls="controls">
	Your browser does not support the video tag.
	</video>
	<!-- <div id="controller">
		<span id="progress">
  			<spn class="inner"></span>
		</span>
		<div id="vedio-btn">
			<span class="icon am-icon-play" id="play"></span>
			<span class="icon am-icon-stop" id="stop"></span>
			<span id="time-start" class="time">00:00/</span>
			<span id="time-end" class="time">00:00</span>
			<span id="volume-icon" class="icon am-icon-volume-up"></span>
			<span id="volume">
				<span class="inner"></span>
			</span>
			<span class="icon am-icon-download" id="download"></span>
			<span id="full-screen" class="icon am-icon-expand"></span>
		<div>
	</div> -->
</div>
<a></a>
<script type="text/javascript">
	// $(document).ready(function (argument) {
	// 	// body...
	// 	function changeTime(num){
	// 		var MM = parseInt(num/60);
	// 		var SS = parseInt(num%60);
	// 		if(MM<10){
	// 			MM = "0"+MM;
	// 		}
	// 		if(SS < 10){
	// 			SS = "0"+SS;
	// 		}
	// 		return MM+":"+SS;
	// 	};
	// 	$("#vedio").on("loadeddata",function(){
	// 		var vedio = $("#vedio")[0];
	// 		var length = vedio.duration;
	// 		var volume = "100%";
	// 		$("#time-end").text(changeTime(Number(length)));

	// 		$("#progress").click(function(){
	// 		    var event = arguments[0];
	// 		    var now = event.clientX;
	// 		    var per = now*100/$("#progress").width();
	// 		    vedio.currentTime = Number(length)*Number(per)/100;
	// 		    $("#progress .inner").width(per+"%");
	// 		});
	// 		$("#volume").click(function(){
	// 			var e = arguments[0];
	// 			var now = e.clientX - $(this).position().left;
	// 			var per = now*100/$("#volume").width();
	// 			volume = per+"%";
	// 			if(vedio.muted){
	// 				$(this).removeClass("am-icon-volume-off").addClass("am-icon-volume-up");
	// 			}
	// 			$("#volume .inner").width(volume);
	// 			vedio.volume = per/100;
	// 		});
	// 		$("#volume-icon").click(function(){
	// 			if($(this).hasClass("am-icon-volume-up")){
	// 				$(this).removeClass("am-icon-volume-up").addClass("am-icon-volume-off");
	// 				$("#volume .inner").width("0%");
	// 				vedio.muted = true;
	// 			}else{
	// 				$(this).removeClass("am-icon-volume-off").addClass("am-icon-volume-up");
	// 				$("#volume .inner").width(volume);
	// 				vedio.muted = false;
	// 			}
	// 		});
	// 		$("#full-screen").click(function(){
	// 			if (!document.webkitIsFullScreen) {
	// 				vedio.webkitRequestFullScreen(); //全屏
	// 				$(this).removeClass('am-icon-expand').addClass('am-icon-compress');
	// 			} else {
	// 				document.webkitCancelFullScreen();
	// 				$(this).removeClass('am-icon-compress').addClass('am-icon-expand');
	// 			}
	// 		});
	// 		$("#vedio").on('timeupdate',function(){
	// 			var time = vedio.currentTime;
	// 			var per = Number(time)*100/Number(length);
	// 			$("#time-start").text(changeTime(Number(time)));
	// 			$("#progress .inner").width(per+"%");
	// 		});
	// 		$("#stop").click(function(){
	// 			if(!vedio.paused){
	// 				$("#play").removeClass("am-icon-pause").addClass("am-icon-play");
	// 				vedio.pause();
	// 			}
	// 			vedio.currentTime = 0;
	// 		});
	// 		$("#play").click(function(){
	// 			if($(this).hasClass("am-icon-play")){
	// 				$(this).removeClass("am-icon-play").addClass("am-icon-pause");
	// 				vedio.play();
	// 			}else{
	// 				$(this).removeClass("am-icon-pause").addClass("am-icon-play");
	// 				vedio.pause();
	// 			}
	// 		});
	// 	});
	// });
</script>