<header class="header">
	<span class="am-icon-home am-icon-md" id="btn-home" onclick="home()"></span>
	<h1><?=$title?></h1>
</header>
<section>
	<div class="am-form-group am-form-file" style="width:33.33%;margin:0 auto;margin-top:1rem;">
		<img class="am-circle" id="idImg" src="static/image/user.jpg" width="100" height="100"/>
		<input type="file" accept="image/*;capture=camera">
	</div>
	<p class="am-text-center" id="ID"></p>
</section>
<div class="am-g">
	<ul class="am-list am-u-md-12 am-u-sm-12">
		<li class="am-padding-horizontal-xs am-cf">
			<a href="javascript:courseManage()"><i class="am-icon-file-text am-icon-sm am-fl"></i>课程管理<i class="am-icon-chevron-right am-fr"></i></a>
		</li>
		<li class="am-padding-horizontal-xs am-cf">
			<a href="javascript:errorProblems()"><i class="am-icon-question-circle am-icon-sm am-fl"></i>我的错题<i class="am-icon-chevron-right am-fr"></i></a>
		</li>
		<li class="am-padding-horizontal-xs am-cf">
			<a href="javascript:collectionProblems()"><i class="am-icon-star am-icon-sm am-fl"></i>我的收藏<i class="am-icon-chevron-right am-fr"></i></a>
		</li>
		<li class="am-padding-horizontal-xs am-cf">
			<a href="javascript:changePassword()"><i class="am-icon-question-circle am-icon-sm am-fl"></i>修改密码<i class="am-icon-chevron-right am-fr"></i></a>
		</li>
		<li class="am-padding-horizontal-xs am-cf">
			<a href="javascript:message()"><i class="am-icon-bell am-icon-sm am-fl"></i>我的消息<i class="am-icon-chevron-right am-fr"></i></a>
		</li>
	</ul>
	<div class="am-u-sm-12 am-u-md-12">
		<a href="javascript:logout()" class="am-btn am-btn-block am-btn-lg am-btn-danger">退出当前账号</a>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		var id = $.cookie("UserName");
		$("#ID").text(id);
		$("input[type='file']").on("change",function(){
			console.log(this.files[0]);
			var file = this.files[0];
			var reader = new FileReader();
			reader.onload = function(){
				console.log(reader.result);
				var url = reader.result;
				setImageURL(url);
			};
			reader.readAsDataURL(file);
		});
		var img = new Image();
		function setImageURL(url){
	    	img.src=url;
		}
		img.onload = function(){
			$("body").append(img);
		}
	});
	function courseManage(){
		var pos = window.location.href.indexOf("?");
	    url = window.location.href.slice(0,pos);
	    window.location.href = url + "?c=main&a=courseManage";
	}
	function errorProblems(){
		var pos = window.location.href.indexOf("?");
	    url = window.location.href.slice(0,pos);
	    window.location.href = url + "?c=main&a=errorProblems";
	}
	function collectionProblems(){
		var pos = window.location.href.indexOf("?");
	    url = window.location.href.slice(0,pos);
	    window.location.href = url + "?c=main&a=collectionProblems";
	}
	function changePassword(){
		var pos = window.location.href.indexOf("?");
	    url = window.location.href.slice(0,pos);
	    window.location.href = url + "?c=main&a=changePassword";
	}
	function message(){

	}
	function logout(){
		var pos = window.location.href.indexOf("?");
	    url = window.location.href.slice(0,pos);
		$.ajax({
			url : url + "?c=main&a=logout",
			type : "post",
			success:function(data){
				console.log(data);
				if(data == "1"){
					window.location.href = url;
				}
			},
			error:function(){

			}
		});
	}
</script>