<div class="section" style="padding:0.5rem 0;background-color:#000;">
	<div class="container" style="padding:0;">
		<div class="row" style="overflow:hidden;">
			<div class="col-md-6 col-sm-6" style="float:left">
				<a href="javascript:goBack()">
					<i class="fa fa-2x fa-fw fa-arrow-left"></i>
				</a>
			</div>
			<div class="col-md-6 col-sm-6" style="float:right">
				<a href="javascript:userCenter()">
					<i class="fa fa-2x fa-fw fa-user pull-right"></i>
				</a>
			</div>
			<p style="color:#fff;text-align:center;font-size:2rem;"><?=$title?></p>
		</div>
	</div>
</div>