<div class="well">
	<p><b><?=$i+1?>.</b><?=$options[$i]["title"]?></p>
	<div class="option">
		<input type="radio" id="options<?=$i?>_A" name="options<?=$i?>" value="A" style="margin:0 4px 0 0;"/><label for="options<?=$i?>_A" class="option_select">A. <?=$options[$i]["answerA"]?></label>
	</div>
	<div class="option">
		<input type="radio" id="options<?=$i?>_B" name="options<?=$i?>" value="B" style="margin:0 4px 0 0;"/><label for="options<?=$i?>_B" class="option_select">B. <?=$options[$i]["answerB"]?></label>
	</div>
	<div class="option">
		<input type="radio"  id="options<?=$i?>_C" name="options<?=$i?>" value="C" style="margin:0 4px 0 0;"/><label for="options<?=$i?>_C" class="option_select">C. <?=$options[$i]["answerC"]?></label>
	</div>
	<div class="option">
		<input type="radio" id="options<?=$i?>_D" name="options<?=$i?>" value="D" style="margin:0 4px 0 0;"/><label for="options<?=$i?>_D" class="option_select">D. <?=$options[$i]["answerD"]?></label>
	</div>
</div>  