<div class="am-slider am-slider-default"  id="slider">
  <ul class="am-slides">
    <?php
    	$i=1;
      if(isset($completion) && is_array($completion)){
    	foreach ($completion as $value) {
    		# code...
    	?>
    	<li data-collection="<?=$value['collection']?>" data-error="<?=$value['error']?>" data-id="<?=$value['completion_id']?>" data-type="0">
    		<div class="am-margin-lg">
	    		<p class="am-text-break"><span style="display:inline;background-color:#fff;color:#3bb4f2;border:1px solid #3bb4f2;font-size:12px;">填空题</span><b><?=$i?>.</b><?=$value['title']?></p>
          <div class="am-from-group am-padding-vertical-sm am-g am-text-left">
            <label class="am-text-left am-padding-right-0 am-padding-left-sm">请输入:</label>
            <input class="completion_hr am-text-left am-padding-0 am-margin-horizontal-xs" type="text"/>
          </div>
          <div class="am-padding-horizontal-sm">
             <a class="am-btn am-btn-block am-btn-lg am-btn-success" href="javascript:confirm(<?=$i?>,'<?=$value["answer"]?>');">确认答案</a>
          </div>   
          <div class="explain am-margin-horizontal-sm am-margin-vertical-xl" style="display:none">
            <h3 class="my-header">试题详解</h3>
            <p class="am-text-break">答案：<?=$value['answer']?></p>
            <p class="am-text-break">解释：<?=$value['explain']?></p> 
          </div>
    		</div>
    	</li>
    	<?php	
    		$i++;
      }
    	}
      if(isset($options) && is_array($options)){
    	foreach ($options as $value) {
    		# code...
    	?>
		<li data-collection="<?=$value['collection']?>" data-error="<?=$value['error']?>" data-id="<?=$value['option_id']?>" data-type="1" data-index="<?=$i?>" data-answer="<?=$value['answer']?>">
    		<div class="am-margin-lg">
	    		<p class="am-text-break"><span style="display:inline;background-color:#fff;color:#3bb4f2;border:1px solid #3bb4f2;font-size:12px;">单选题</span><b><?=$i?>.</b><?=$value['title']?></p>
          <div class="options">
  	    		<input type="radio" name= "option_<?=$value['option_id']?>" id="A_<?=$value['option_id']?>" class="am-text-break">
            <label for="A_<?=$value['option_id']?>" data-value="A">
              <span class="tips am-margin-right-sm">A</span><?=$value['answerA']?>
            </label>
          </div>
          <div class="options">  
  	    		<input type="radio" name="option_<?=$value['option_id']?>" class="am-text-break" id="B_<?=$value['option_id']?>">
            <label for="B_<?=$value['option_id']?>" data-value="B">
              <span class="tips am-margin-right-sm">B</span><?=$value['answerB']?>
            </label>
          </div>
          <div class="options">  
  	    		<input type="radio" name="option_<?=$value['option_id']?>" class="am-text-break" id="C_<?=$value['option_id']?>">
            <label for="C_<?=$value['option_id']?>" data-value="C">
              <span class="tips am-margin-right-sm">C</span><?=$value['answerC']?>
            </label>
          </div>
          <div class="options">  
  	    		<input type="radio" name="option_<?=$value['option_id']?>" class="am-text-break" id="D_<?=$value['option_id']?>">
            <label for="D_<?=$value['option_id']?>" data-value="D">
              <span class="tips am-margin-right-sm">D</span><?=$value['answerD']?>
            </label>
          </div>
          <div class="explain" style="display:none;">
            <h3 class="my-header">试题详解</h3>
            <p class="am-text-break">答案：<?=$value['answer']?></p>
            <p class="am-text-break">解释：<?=$value['explain']?></p>
          </div>
    		</div>
    	</li>
    	<?php	
    	   $i++;
       }
    	}
    ?>
     <li>
     	<div class="am-margin-lg">
     		<h3 class="my-header">答题卡</h3>
     	<?php
     		for($i = 1;$i<=count($completion)+count($options);$i++){
     		?>
			<span style="display:inline-block;background-color:#fff;color:#000;border:1px solid #000;font-size:18px;width:40px;height:40px;line-height:40px;text-align:center;margin:5px;" class="cardItem" onclick="select(<?=$i?>);"><?=$i?></span>
     		<?php
     		}
     	?>
        </div>
    </li>
  </ul>
  <div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default"id="controller">
    <ul class="am-navbar-nav am-cf am-avg-sm-4">
          <li id="collection">
            <a class="am-icon-sm am-icon-star-o" href="javascript:collection();"> 收藏</a>
          </li>
          <li id="number">
          	<a>1/<?=$i-1?></a>
          </li>
          <li id="cardPage">
            <a class="am-icon-sm am-icon-file-text-o" href="javascript:cardPage();"> 答题卡</a>
          </li>
          <li id="done" style="display:none;">
          	<a data-am-modal="{target:'#result'}">提交并查看结果</a>
          </li>
    </ul>
  </div>
</div>
<div class="am-modal" id="result">
  <div class="am-modal-dialog">
    <h3 class="am-modal-hd">练习结果</h3>
    <div id="problems" class="am-g"></div>
    <div class="am-g am-padding-lg">
       <a class="am-u-md-12 am-u-sm-12 am-btn am-btn-block am-btn-success am-btn-lg" href="javascript:agin()">再来一遍</a>
       <a class="am-u-md-12 am-u-sm-12 am-btn am-btn-block am-btn-success am-btn-lg" href="javascript:cont()">继续学习</a> 
    </div>
  </div>
</div>
<script type="text/javascript">
  var count = "<?php echo count($completion)+count($options);?>";
  var currentSlide = 0;
  var errorCount = 0;
  var correctCount = 0;
  var notFill = count;
  $(document).ready(function  (argument) {
    // body...
    $('#slider').flexslider({
    // options
    animationLoop: false,            // Boolean: 是否循环播放
    slideshow: false,                // Boolean: 是否自动播放
    controlNav: false,               // Boolean: 是否创建控制点
    directionNav: false,             // Boolean: 是否创建上/下一个按钮（previous/next）
    after: function(slider){
        var collection = $("#slider .am-active-slide").attr("data-collection");
        var now = slider.currentSlide + 1;
        if(slider.currentSlide!= count){
           currentSlide = slider.currentSlide;
        }
        $("#number a").text(now+"/"+(slider.count-1));
        if(now == slider.count){
          $("#cardPage").css("display","none");
          $("#collection").css("display","none");
          $("#number").css("display","none");
          $("#done").css("display","table-cell");
        }else{
          $("#cardPage").css("display","table-cell");
          $("#collection").css("display","table-cell");
          $("#number").css("display","table-cell");
          $("#done").css("display","none");
          if(collection == "true"){
            $("#collection a").removeClass("am-icon-star-o").addClass("am-icon-star");
            $("#collection a").text("已收藏");
          }else{
            $("#collection a").removeClass("am-icon-star").addClass("am-icon-star-o");
            $("#collection a").text("收藏");
          }
        }
      }
    });
    var collection = $("#slider .am-active-slide").attr("data-collection");
    if(collection == "true"){
      $("#collection a").removeClass("am-icon-star-o").addClass("am-icon-star");
        $("#collection a").text("已收藏");
    }

    $(".options").delegate("label","click",function(){
      var now = $("#slider .am-active-slide");
      var checked = now.find("input[type='radio']:checked");
      if(checked.length){
        return ;
      }
      now.find("input[type='radio']").each(function(){
         $(this).attr("disabled","true");
      });
      $(this).parent().find("input").attr("checked","checked");
      var value = $(this).attr("data-value");
      var answer = $("#slider .am-active-slide").attr("data-answer");
      var flag = $("#slider .am-active-slide").attr("data-error");
      var problem_id = now.attr("data-id");
      var i = now.attr("data-index");
      check(i,value,answer,flag,1,problem_id);
    });

    $("#result").on("open.modal.amui",function(){
        $('#problems').append("<span class='am-u-sm-4 am-u-md-4'>错题<span class='am-text-danger'>"+errorCount+"</span></span><span class='am-u-sm-4 am-u-md-4'>做对<span class='am-text-success'>"+correctCount+"</span></span><span class='am-u-sm-4 am-u-md-4'>未做<span class='am-text-warning'>"+notFill+"</span></span>");
    });
  });
  
  function cardPage(){
    $("#slider").flexslider(Number(count));
  };
  function collection(){
    var pos = window.location.href.indexOf("?");
    var url = window.location.href.slice(0,pos);
    var target = $("#slider .am-active-slide");
    var type = target.attr("data-type");
    var problem_id = target.attr("data-id");
    var flag = target.attr("data-collection");
    $.ajax({
      url:url+"?c=main&a=collection",
      type:"POST",
      data:"problem_id="+problem_id+"&problem_type="+type+"&flag="+flag,
      success:function(data){
        console.log(data);
        if(data){
          if(flag == "true"){
            target.attr("data-collection","false");
            $("#collection a").removeClass("am-icon-star").addClass("am-icon-star-o");
              $("#collection a").text("收藏");
          }else{
            target.attr("data-collection","true");
            $("#collection a").removeClass("am-icon-star-o").addClass("am-icon-star");
              $("#collection a").text("已收藏");
          }
        }else{
          dialog("数据库错误");
        }
      },
      error:function(){
        dialog("Connection error");
      }
    });
  }
  function select(i){
    $("#slider").flexslider(Number(i)-1);
  }
  function confirm(i,answer){
    var now = $("#slider .am-active-slide");
    now.find("a").css("display","none");
    now.find("input[type='text']").attr("disabled",true);
    var value = now.find("input[type='text']").val();
    var flag = now.attr("data-error");
    var problem_id = now.attr("data-id");

    check(i,value,answer,flag,0,problem_id);

  }
  function check(i,value,answer,flag,type,problem_id){
    var now = $("#slider .am-active-slide");
    var pos = window.location.href.indexOf("?");
    var url = window.location.href.slice(0,pos);
    if(value == answer){
      correctCount = correctCount + 1; 
      notFill = notFill - 1;
      if(flag == "true"){
          $.ajax({
          url:url+"?c=main&a=insertError",
          data:"problem_type="+type+"&problem_id="+problem_id+"&type=1&flag=false",
          type:"POST",
          success:function(data){
            console.log(data);
            if(data == "1"){
              $("#slider").flexslider("next");
              $(".cardItem").eq(i-1).css({"border":"1px solid green","color":"green"});
            }else{
              dialog("数据库错误");
            }
          },
          error:function(){
            dialog("Connection error");
          }
        });
      }else{
        $("#slider").flexslider("next");
        $(".cardItem").eq(i-1).css({"border":"1px solid green","color":"green"});
      }
    }else{
      errorCount = errorCount + 1;
      notFill = notFill - 1;
      if(flag == "false"){
          $.ajax({
          url:url+"?c=main&a=insertError",
          data:"problem_type="+type+"&problem_id="+problem_id+"&type=1&flag=true",
          type:"POST",
          success:function(data){
            console.log(data);
            if (data == "1") 
            {
              now.find(".explain").css("display","block");
              $(".cardItem").eq(i-1).css({"border":"1px solid red","color":"red"});
            }else{
              dialog("数据库错误");
            }
          },
          error:function(){
            dialog("Connection error");
          }
       });
      }else{
        now.find(".explain").css("display","block");
        $(".cardItem").eq(i-1).css({"border":"1px solid red","color":"red"});
      }
    }
  }
  // function done(){
  //   // var pos = window.location.href.indexOf("?");
  //   // var url = window.location.href.slice(0,pos);
  //   // var course_id = getUrlParam("course_id");
  //   // var chapter_index = getUrlParam("chapter_index");

  //   // window.location.href=url+"?c=main&a=result"
  // }
  function agin(){
    location.reload();
  }
</script>