body,html{
	height: 100%;
	word-wrap:break-word;
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	overflow: hidden;
	overflow-y: scroll;
}
.header{
	background-color: #0e90d2;
	color: #fff;
	z-index: 100;
	position: relative;
	box-shadow: 0 0 3px rgba(0,0,0,.15);
}
.header h1{
	height: 49px;
    line-height: 49px;
    padding-left: 10px;
    font-weight: 400;
    text-align: center;
    margin: 0;
    font-size: 18px;
}
#btn-home,#btn-user,#btn-catalog{
	display: inline-block;
    width: 44px;
    height: 43px;
    position: absolute;
    top: 50%;
    margin-top: -21.5px;
    text-align: center;
    line-height: 43px;
    cursor: pointer;
}
#btn-home{
	left: 5px;
}
#btn-user,#btn-catalog{
	right: 5px;
}
.my-header{
	position: relative;
    padding-left: 12px;
    color: #0e90d2;
    font-size: 1.8rem;
    text-align: left;
    font-weight: 700;
}
.my-header:before{
	content: "";
    position: absolute;
    left: 2px;
    top: 8px;
    bottom: 8px;
    border-left: 3px solid #0e90d2;
}
.completion_hr{
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 2px solid #000;
    outline: none;
}
input[type='radio']{
    display: none;
}
input[type='radio'] + label{
    font-weight: normal;
}
.tips{
    display: inline-block;
    width: 20px;
    height: 20px;
    color: #000;
    border: 1px solid #000;
    border-radius: 20px;
    text-align: center;
    line-height: 17px;
}
input[type="radio"]:checked + label{
    color: green;
}
input[type="radio"]:checked + label .tips{
    color: green;
    border: 1px solid green;
}