body,html{
	height: 100%;
	word-wrap:break-word;
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	overflow: hidden;
	overflow-y: scroll;
}
p,label{
	font-size: 16px;
}
.header{
	background-color: #0e90d2;
	color: #fff;
	z-index: 100;
	position: relative;
	box-shadow: 0 0 3px rgba(0,0,0,.15);
}
.header h1{
	height: 49px;
    line-height: 49px;
    padding-left: 10px;
    font-weight: 400;
    text-align: center;
    margin: 0;
    font-size: 18px;
}
#btn-back,#btn-user,#btn-catalog{
	display: inline-block;
    width: 44px;
    height: 43px;
    position: absolute;
    top: 50%;
    margin-top: -21.5px;
    text-align: center;
    line-height: 43px;
    cursor: pointer;
}
#btn-back{
	left: 5px;
}
#btn-user,#btn-catalog{
	right: 5px;
}
.my-header{
	position: relative;
    padding-left: 12px;
    color: #0e90d2;
    font-size: 1.8rem;
    text-align: left;
    font-weight: 700;
}
.my-header:before{
	content: "";
    position: absolute;
    left: 2px;
    top: 8px;
    bottom: 8px;
    border-left: 3px solid #0e90d2;
}