<div class="am-g">
	<div class="am-u-sm-12 am-u-md-12">
		<form class="am-form am-margin-vertical-sm" role="form" id="form">
			<fieldset>
				<legend class="am-text-center">登录</legend>
				<div class="am-form-group">
					<label for="UserName" class="">用户名</label>
					<input type="text" class="" id="UserName" placeholder="用户名" name="UserName" required pattern="^\d{9}$" data-validation-message="请输入9位数字学号">
				</div>
				<div class="am-form-group">
					<label for="Password" class="">密码</label>
					<input type="password" class="" id="Password" placeholder="密码" name="Password" required pattern="^\w{6,12}$" data-validation-message="请输入6-12位密码，由数字和字母组成">
				</div>
				<div class="am-checkbox">
					<label><input type="checkbox" id="remberBox"> 记住我 </label>
					</div>
				<div class="am-form-group">
					<button type="button" class="am-btn am-btn-block am-btn-primary" id="login">登录</button>
				</div>
			</fieldset>
		</form>
	</div>
</div>
<script type="text/javascript">
	if($.cookie("remberBox") == "true"){
		$("#UserName").val("<?=$UserName?>");
		$("#Password").val("<?=$Password?>");
		$("#remberBox").attr("checked",'true');
	}
</script>