<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<title><?=$top_title . ' | ' . c('site_name') ?></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="format-detection" content="telephone=no">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="static/css/amazeui.css">
<script type="text/javascript" src="static/script/jquery.min.js"></script>
<script type="text/javascript" src="static/script/jquery.cookie.js"></script>
<script type="text/javascript" src="static/script/amazeui.js"></script>
<link rel="apple-touch-icon-precomposed" href="/i/app-icon72x72@2x.png">
<link rel="stylesheet" href="static/css/admin.css">
<?php if( isset($css) && is_array( $css ) ): ?>
        <?php foreach( $css as $cfile ): ?><link rel="stylesheet" type="text/css" href="static/css/<?=$cfile?>">
        <?php endforeach; ?>
<?php endif; ?>

<!--[if lt IE 9]>
      <script src="static/script/html5.js"></script>
<![endif]-->
<!--[if IE 6]>    
    		<link href="static/css/ie6.min.css" rel="stylesheet">
<![endif]-->
</head>    
<body>
 	
<?php 
    $tfile = 'view' . DS . 'layout' . DS  . g('layout') . DS . g('c') . DS . g('a') . '.tpl.html' ;
    if( file_exists( AROOT . $tfile ) ) include( AROOT . $tfile );
    else @include( CROOT . $tfile );
?>
    <!--[if IE 6]>    
    		 <script src="static/script/ie6.min.js"></script>
	  <![endif]-->
    <script src="static/script/app.js"></script>
    
    <?php if( isset($js) && is_array( $js ) ): ?>
        <?php foreach( $js as $jfile ): ?><script type="text/javascript" src="static/script/<?=$jfile;?>" ></script>
        <?php endforeach; ?>
	<?php endif; ?>
   
</body>
</html>